# Dependencies
node_modules/

# Environment variables
.env

# Build output
dist/
build/

# Logs
*.log
npm-debug.log*

# Editor directories and files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
.vscode/

# Test screenshots
*.png
